#app_card { 
    transition: all .2s ease-in-out;
    margin: 16px;
    max-width: 300px;
    max-height: 356px;
    overflow: auto;
}

#app_card:hover {
    transform: scale(1.03); 
}

#app_card .action_button {
    margin: auto;
}

.card_content {
    text-align: center;
}

.card_link {
    text-decoration: none;
    color: inherit;
}