.flex-container {
    display: inline-flex;
    flex-wrap: wrap;
}

#design_one .tabs_toolbar {
    top: auto;
    right: auto;
    margin: 0 auto;
    z-index: var(--level-1);
}

#views .react-swipeable-view-container {
    margin: 72px 0;
    width: 100%;
    min-height: 100vh;
}

.content_page {
    margin: 16px;
}

.tabs .MuiTab-textColorPrimary {
    color: white;
}

#design_one .MuiIconButton-root {
    color: white;
}

#refresh_container {
    text-align: center;
}

#card_content {
    justify-content: center;
}

#github_link {
    font-weight: bold;
}