#app_container {
    width: 80%;
    margin: 32px auto;
    background-color: var(--grey-1);
    color: var(--black-1);
}

#app_container .container_header {
    display: flex;
    align-items: center;
}

#app_container .container_title {
    margin: auto;
}

#app_container .content_list {
    flex-wrap: nowrap;
}

.content_list {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.content_list::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#app_container .button_container {
    padding-top: 24px;
    margin: auto;
    text-align: center;
}

#app_container .button {
    color: white;
    margin: 16px auto;
}