@media only screen and (max-width: 600px) {
    #app_name {
        letter-spacing: initial !important;
    }

    #name_container {
        width: 100%;
        
    }
}

.app_toolbar {
    z-index: var(--very-front);
}

.toolbar {
    color: white;
}

#toolbar_content {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
}

#menu_button {
    opacity: .98;
}

#menu_button:hover {
    opacity: 1;
}

#name_container {
    margin-right: auto;
    padding: 0 8px;
}

#search_bar {
    margin: 0 auto !important;
}

#toolbar_content .toolbar_button {
    margin-left: auto;
}

.MuiBadge-badge {
    background-color: var(--red-1);
}