#dialog_title h2 {
    font-weight: bold;
    text-align: center;
}

#close_button {
    font-weight: bold;
}

#dialog_description {
    text-align: center;
}

.MuiListItemAvatar-root .avatar{
    background-color: var(--green-1);
}