@media only screen and (max-width: 600px) {

}

.App {
  text-align: center;
  width: 100%;
  background-color: var(--black-1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black-1);
  margin: auto;
}